@import '../../styles/abstract/custom-variables';
@import '../../styles/abstract/custom-mixins';

.area {
    @include breakpoint(min-xl-device) {
        padding-top: 130px;
    }
    @include breakpoint(lg-device) {
        padding-top: 100px;
    }
    @include breakpoint(max-md-device) {
        padding-top: 50px;
    }
}
.title {
    color: $white;
    font-size: 28px;
    line-height: 1.3;
}
.desc {
    max-width: 480px;
    color: $white;
    font-size: 18px;
    font-weight: 300;
}
.bg {
    padding: 40px 35px;
    background-repeat: no-repeat;
    background-position: bottom right;
    &-01 {
        background-image: url('/images/banner/inner-bg/1-1.png');
        background-color: #00225b;
    }
    &-02 {
        background-image: url('/images/banner/inner-bg/1-2.png');
        background-color: #ff5e13;
    }
    &-03 {
        background-image: url('/images/banner/inner-bg/1-3.png');
        background-color: #00225b;
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 10px; /* Add padding to ensure the modal is not too close to the edges */
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* Default width for mobile and tablet */
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Ensure content is scrollable if it overflows */
    max-height: 90vh; /* Ensure modal does not exceed viewport height */
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.modalBody {
    padding: 20px 0;
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Media query for desktop */
@media (min-width: 768px) {
    .modal {
        width: 60%; /* Adjust width for larger screens */
    }
}

@media (min-width: 1024px) {
    .modal {
        width: 50%; /* Adjust width for even larger screens */
    }
}

@media (min-width: 1200px) {
    .modal {
        width: 40%; /* Adjust width for desktop screens */
    }
}
